<h1>LinkedIn Share</h1>

<h2>No Parameters</h2>

<p>No parameters. Shares current url via standard LinkedIn UI share button.</p>

<code>
  \{{linkedin-share}}
</code>

<div id='no-parameters'>
  {{linkedin-share}}
</div>


<h2>Custom URL</h2>

<p>Specified url. Shares specified url via standard LinkedIn UI share button.</p>

<code>
  \{{linkedin-share url='http://plyfe.github.io/ember-social'}}
</code>

<div id='custom-url'>
  {{linkedin-share url='http://plyfe.github.io/ember-social'}}
</div>

<h2>Display Share count</h2>

<p>Count can be displayed either on top or on the right of the button.</p>

<code>
  \{{linkedin-share count="top"}}<br>
</code>

<div id='show-count'>
  {{linkedin-share count="top"}}
</div>

<h2>With tagName of "a"</h2>

<p>Render a link and use the LinkedIn SDK's programmatic share dialog.</p>

<code>
  \{{#linkedin-share tagName="a" url='http://plyfe.github.io/ember-social'}}<br>
   Share this article on LinkedIn<br>
  \{{/linkedin-share}}
</code>

<div id='tag-name-a'>
  {{#linkedin-share tagName="a" url='http://plyfe.github.io/ember-social'}}
   Share this article on LinkedIn
  {{/linkedin-share}}
</div>
