<h1>Facebook Facepile</h1>

<h2>No Parameters</h2>

<p>No parameters. Facepile for current url.</p>

<code>
  \{{facebook-facepile}}
</code>

<div id='no-parameters'>
  {{facebook-facepile}}
</div>

<h2>Custom URL</h2>

<p>Specified url.</p>

<code>
  \{{facebook-facepile url='http://unf.org'}}
</code>

<div id='custom-url'>
  {{facebook-facepile url='http://unf.org'}}
</div>

<h2>Custom Color Scheme</h2>

<p>Specify color scheme of 'light' or 'dark'.</p>

<code>
  \{{facebook-facepile fb-colorscheme='dark'}}
</code>

<div id='custom-colorscheme'>
  {{facebook-facepile fb-colorscheme='dark'}}
</div>
