<h1>Facebook Like</h1>

<h2>No Parameters</h2>

<p>No parameters. Likes current url via standard Facebook UI like button.</p>

<code>
  \{{facebook-like}}
</code>

<div id='no-parameters'>
  {{facebook-like}}
</div>

<h2>Custom URL</h2>

<p>Specified url. Shares specified url via standard Facebook UI share button.</p>

<code>
  \{{facebook-like url='http://plyfe.github.io/ember-social'}}
</code>

<div id='custom-url'>
  {{facebook-like url='http://plyfe.github.io/ember-social'}}
</div>

<h2>Action</h2>

<p>Specified action</p>

<code>
  \{{facebook-like fb-action='recommend'}}
</code>

<div id='custom-action'>
  {{facebook-like fb-action='recommend'}}
</div>

<h2>Layout</h2>

<code>
  \{{facebook-like fb-layout='standard'}}
</code>

<div id='layout-standard'>
  {{facebook-like fb-layout='standard'}}
</div>

<code>
  \{{facebook-like fb-layout='button_count'}}
</code>

<div id='layout-button-count'>
  {{facebook-like fb-layout='button_count'}}
</div>

<code>
  \{{facebook-like fb-layout='button'}}
</code>

<div id='layout-button'>
  {{facebook-like fb-layout='button'}}
</div>

<code>
  \{{facebook-like fb-layout='box_count'}}
</code>

<div id='layout-box-count'>
  {{facebook-like fb-layout='box_count'}}
</div>

<h2>Loading the Facebook SDK yourself</h2>

<code>
  \{{facebook-like facebookSDK=/*a promise that resolves with the FB object*/}}
</code>

<div id='custom-load-sdk'>
  {{facebook-like facebookSDK=facebookSDK}}
</div>

